<h1>Editing broker acl</h1>

<%= render "form", broker_acl: @broker_acl %>

<br>

<div>
  <%= link_to "Show this broker acl", @broker_acl %> |
  <%= link_to "Back to broker acls", broker_acls_path %>
</div>
