<h1>Editing broker account</h1>

<%= render "form", broker_account: @broker_account %>

<br>

<div>
  <%= link_to "Show this broker account", @broker_account %> |
  <%= link_to "Back to broker accounts", broker_accounts_path %>
</div>
